* {
	box-sizing: border-box;
	margin: 0px;
}

h1,
h2 {
	color: gray;
	margin-bottom: 10px;
}

nav {
	background-color: dodgerblue;
	font-family: sans-serif;
	color: white;
	padding: 1rem;
}

ul {
	display: flex;
	padding: 0px;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
}

ul > li:nth-child(1) {
	font-size: 20px;
}

ul > li > a {
	color: white;
	text-decoration: none;
}

a.active {
	font-weight: bold;
}

form {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 0 auto;
	padding: 15px;
}

.flex-holder {
	display: flex;
	margin-bottom: 10px;
}
label {
	flex: 1;
}
input,
select {
	flex: 2;
	height: 1rem;
}

.group-button {
	display: flex;
	justify-content: center;
}

.card {
	border: 1px solid black;
	border-radius: 10px;
	padding: 25px;
	margin: 0 1rem;
	width: calc(100% / 3 - 2rem);
}
.cards {
	display: flex;
	flex-wrap: wrap;
	/* margin: 10px; */
	align-content: space-around;
	height: 350px;
}
